<div class="min-h-screen flex">
  <!-- Sidebar -->
  <div class="sidebar bg-sidebar_color text-white w-1/5 p-4">
    <div class="user-info text-center mb-8">
      <div class="avatar bg-avatar_color rounded-full mx-auto mb-4 h-16 w-16"></div>
      <h2 class="text-2xl font-bold">{{user.name}}</h2>
      <p>{{user.email}}</p>
    </div>
    <nav>
      <ul>
        <a [routerLink]="['/dashboard', ownerId]">
          <li class="py-2 px-4 hover:bg-hover_color cursor-pointer">
            Home
          </li>
        </a>
        <a [routerLink]="['/dashboard', ownerId, 'clubs']">
          <li class="py-2 px-4 hover:bg-hover_color cursor-pointer">
            Clubs
          </li>
        </a> 
        <a [routerLink]="['/dashboard', ownerId, 'teams']">
          <li class="py-2 px-4 hover:bg-hover_color cursor-pointer">
            Teams
          </li>
        </a>  
        <a [routerLink]="['/dashboard', ownerId, 'games']">
          <li class="py-2 px-4 hover:bg-hover_color cursor-pointer">
            Games
          </li>
        </a>  
        <a [routerLink]="['/dashboard', ownerId, 'players']">
          <li class="py-2 px-4 hover:bg-hover_color cursor-pointer">
            Athletes
          </li>
        </a>
        <a [routerLink]="['/dashboard', ownerId, 'contacts']">
          <li class="py-2 px-4 hover:bg-hover_color cursor-pointer">
            Contacts
          </li>
        </a>
        <li (click)="logout()" class="py-2 px-4 hover:bg-hover_color cursor-pointer">
          Logout
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main Content -->
  <div class="main-content flex-1 p-6 bg-background flex justify-center">
    <div class="w-full max-w-4xl">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
